#title{
  font-size: 100pt;
}

#leftTab{

}

#topTab{
  position: absolute;
  width: 100vw;
  height: 90vh;
  background-color: white;
  border-bottom-style: solid;
  border-color: #b0b0b0;

  top:-90.3vh;
}

#topTabButton{
  width: 50px;
  height: 50px;
  border-radius: 25px;
  border-width: 5px;
  position: absolute;
  text-align: center;
  padding-top: 25px;
  background-color: white;
  border-color: #b0b0b0;
  border-bottom-style: solid;
  box-sizing: border-box;
  display: block;
  left: 50%;
  top: 100%;
  transform: translate(-50%, -50%);
}

#topTabButton:hover{
  transform: translate(-50%, -30%);
}

#rightTab{

}

#dropzone{
  position: absolute;
  display: block;
  left: 70%;
  top: 0%;
  z-index: -1;
  width: 30%;
  height: 10%;
  border-radius: 5px;
  border-style: solid;
  border-color: green;
  background-color: #e3ffe3;
  border-width: 5px;
  box-sizing: border-box;
}

#bottomTab{
  position: absolute;
  background-color: #e3e3e3;
  width: 100vw;
  height: 230px;
  z-index: 1;
}

#bottomTabButton{
  width: 50px;
  height: 50px;
  border-radius: 25px;
  border-width: 5px;
  position: absolute;
  text-align: center;
  background-color: #e3e3e3;
  border-color: #b0b0b0;
  border-top-style: solid;
  display: block;
  left: 50%;
  top: -25px;
  transform: translate(-50%, 0);
}

#bottomTabButton:hover{
  transform: translate(-50%, -20%);
}

ul{
  list-style: none;
  margin: 0;
  padding-top: 0;
  padding: 25px;
  border-color: #b0b0b0;
  border-top-style: solid;
  border-width: 5px;
}

li{
  margin-right: 5px;
  margin-top: 3px;
  vertical-align: middle;
  padding: 3px;
  display: inline-grid;
  background-color: white;
  border-color: #b0b0b0;
  border-width: 2px;
  border-style: solid;
  border-radius: 5px;
  min-height: 25px;
  min-width: 25px;
}

form{
  margin: 0;
  padding: 0;
}

#textInput{
  width: 100%;
}

.textInputForm{
  width: 100%;
}

label{
  position: relative;
  float: left;
  height: 20px;
}

input{
  position: relative;
  padding: 0;
  margin: 0;
  height: 20px;
}

body{
  margin: 0;
  padding: 0;
}

html{
  overflow: hidden;
}
